{% unless current_variant.available %}
  {% assign button_text = 'products.product.sold_out' | t %}
{% else %}
  {% assign button_text = 'products.product.add_to_cart' | t %}
{% endunless %}


{% if section.settings.show_quantity_selector %}
  <div class="product-form__item product-form__quantity-selector">
    <label class="attr__title product-form__quantity-label{% unless section.settings.show_variant_labels %} product-form__quantity-label--hidden{% endunless %}" for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
    <div class="product__quantity--block">
      <div class="product__sign product__remove--quantity"><img src="{{ 'arrow_down.svg' | asset_url }}"/></div>
      <input class="product-form__quantity-input" type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1" pattern="[0-9]*">
      <div class="product__quantity_inner">1</div>
      <div class="product__sign product__add--quantity"><img src="{{ 'arrow_up.svg' | asset_url }}"/></div>
    </div>
  </div>
{% endif %}

<p class="line-item-property__field">
  <label class="attr__title">Color</label>
  <div class="attributes__checkbox">
	  <div><input type="checkbox" id="1.0" hidden-data="Color" onchange="fillHidden('Color')" value="1.0"><label for="1.0"><span>1.0</span></label></div>
	  <div><input type="checkbox" id="1.2" hidden-data="Color" onchange="fillHidden('Color')" value="1.2"><label for="1.2"><span>1.2</span></label></div>
	  <div><input type="checkbox" id="2.0" hidden-data="Color" onchange="fillHidden('Color')" value="2.0"><label for="2.0"><span>2.0</span></label></div>
	  <div><input type="checkbox" id="3.0" hidden-data="Color" onchange="fillHidden('Color')" value="3.0"><label for="3.0"><span>3.0</span></label></div>
	  <div><input type="checkbox" id="4.0" hidden-data="Color" onchange="fillHidden('Color')" value="4.0"><label for="4.0"><span>4.0</span></label></div>
	  <div><input type="checkbox" id="5.0" hidden-data="Color" onchange="fillHidden('Color')" value="5.0"><label for="5.0"><span>5.0</span></label></div>
	  <div><input type="checkbox" id="6.0" hidden-data="Color" onchange="fillHidden('Color')" value="6.0"><label for="6.0"><span>6.0</span></label></div>
	  <div><input type="checkbox" id="6.1" hidden-data="Color" onchange="fillHidden('Color')" value="6.1"><label for="6.1"><span>6.1</span></label></div>
	  <div><input type="checkbox" id="6.2" hidden-data="Color" onchange="fillHidden('Color')" value="6.2"><label for="6.2"><span>6.2</span></label></div>
	  <div><input type="checkbox" id="6.3" hidden-data="Color" onchange="fillHidden('Color')" value="6.3"><label for="6.3"><span>6.3</span></label></div>
	  <div><input type="checkbox" id="7.0" hidden-data="Color" onchange="fillHidden('Color')" value="7.0"><label for="7.0"><span>7.0</span></label></div>
	  <div><input type="checkbox" id="7.03" hidden-data="Color" onchange="fillHidden('Color')" value="7.03"><label for="7.03"><span>7.03</span></label></div>
	  <div><input type="checkbox" id="7.1" hidden-data="Color" onchange="fillHidden('Color')" value="7.1"><label for="7.1"><span>7.1</span></label></div>
	  <div><input type="checkbox" id="7.43" hidden-data="Color" onchange="fillHidden('Color')" value="7.43"><label for="7.43"><span>7.43</span></label></div>
	  <div><input type="checkbox" id="7.7" hidden-data="Color" onchange="fillHidden('Color')" value="7.7"><label for="7.7"><span>7.7</span></label></div>
	  <div><input type="checkbox" id="8.0" hidden-data="Color" onchange="fillHidden('Color')" value="8.0"><label for="8.0"><span>8.0</span></label></div>
	  <div><input type="checkbox" id="8.1" hidden-data="Color" onchange="fillHidden('Color')" value="8.1"><label for="8.1"><span>8.1</span></label></div>
	  <div><input type="checkbox" id="8.3" hidden-data="Color" onchange="fillHidden('Color')" value="8.3"><label for="8.3"><span>8.3</span></label></div>
	  <div><input type="checkbox" id="834" hidden-data="Color" onchange="fillHidden('Color')" value="834"><label for="834"><span>8.4</span></label></div>
	  <div><input type="checkbox" id="9.0" hidden-data="Color" onchange="fillHidden('Color')" value="9.0"><label for="9.0"><span>9.0</span></label></div>
	  <div><input type="checkbox" id="9.03" hidden-data="Color" onchange="fillHidden('Color')" value="9.03"><label for="9.03"><span>9.03</span></label></div>
	  <div><input type="checkbox" id="9.13" hidden-data="Color" onchange="fillHidden('Color')" value="9.13"><label for="9.13"><span>9.13</span></label></div>
	  <div><input type="checkbox" id="10.0" hidden-data="Color" onchange="fillHidden('Color')" value="10.0"><label for="10.0"><span>10.0</span></label></div>
	  <div><input type="checkbox" id="10.1" hidden-data="Color" onchange="fillHidden('Color')" value="10.1"><label for="10.1"><span>10.1</span></label></div>
	  <div><input type="checkbox" id="10.3" hidden-data="Color" onchange="fillHidden('Color')" value="10.3"><label for="10.3"><span>10.3</span></label></div>
	  <div><input type="checkbox" id="12.0" hidden-data="Color" onchange="fillHidden('Color')" value="12.0"><label for="12.0"><span>12.0</span></label></div>
	  <div><input type="checkbox" id="Omre" hidden-data="Color" onchange="fillHidden('Color')" value="Omre"><label for="Omre"><span>Omre</span></label></div>
  	<input type="hidden" id="Color" name="properties[Color]">
  </div>

  <div class="flex__line--product">
    <div class="flex__line--select">
      <span class="attr__title">Site</span>
      <select name="FilterBy" id="FilterBy" class="collection-sort__input"><option value="">Slavic</option></select>
    </div>
    <div class="flex__line--select">
      <span class="attr__title">Category</span>
      <select name="FilterBy" id="FilterBy" class="collection-sort__input"><option value="">Natural</option></select>
    </div>
    <div class="flex__line--select">      
      <span class="attr__title">Style</span>
      <select name="FilterBy" id="FilterBy" class="collection-sort__input"><option value="">Curly</option></select>
    </div>
    <div class="flex__line--select">      
      <span class="attr__title">Volume</span>
      <select name="FilterBy" id="FilterBy" class="collection-sort__input"><option value="">Thin</option></select>
    </div>
    <div class="flex__line--select">      
      <span class="attr__title">Length ″</span>
      <select name="FilterBy" id="FilterBy" class="collection-sort__input">
        <option value="">12″</option>
        <option value="">13″</option>
      </select>
    </div>
  </div>
  <script>
    $('.product__remove--quantity').on("click",()=>{
      let q = $('.product__quantity_inner').html()
      if(parseInt(q)>1) q=parseInt(q)-1
      $('.product__quantity_inner').html(q)
    })
    $('.product__add--quantity').on("click",()=>{
      let q = $('.product__quantity_inner').html()
      if(parseInt(q)<10) q=parseInt(q)+1
      $('.product__quantity_inner').html(q)
    })
    function fillHidden(hiddenname) {
    var checkboxes = document.querySelectorAll('[hidden-data="'+hiddenname+'"]');
    var hiddenfield = document.getElementById(hiddenname);
    hiddenfield.value = ""
    var i;
    for (i = 0; i < checkboxes.length; i++) {
      var x = checkboxes[i];
      if(x.checked){
        if(hiddenfield.value==""){
          hiddenfield.value = x.value;
          }else{
          hiddenfield.value = hiddenfield.value + ", " + x.value; 
          } 
        }
      }
    }
  </script>
</p>


{% form 'product', product, class:'product-form' %}
  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}
      <div class="product-form__item supports-js">

        {% if option.name != 'default' %}
          <label class="single-option-selector__label{% unless section.settings.show_variant_labels %} single-option-selector__label--hidden{% endunless %}" for="{{ option.name | escape }}">{{ option.name }}</label>
        {% endif %}

        <select id="{{ option.name | escape }}" name="{{ option.name | escape }}" class="single-option-selector" data-option-input>
          {% for value in option.values %}
            {% assign safeValue = value | replace: '"', '&quot;' %}
            <option value="{{ safeValue }}" {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </div>
    {% endfor %}
  {% endunless %}

  <select name="id" class="product-form__master-select supports-no-js" data-master-select>
    {% for variant in product.variants %}
      {% if variant.available %}

        {% comment %}
        Note: if you use option_selection.js, your select tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
        {% endcomment %}
        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {% comment %} <button class="btn btn--to-secondary btn--full product__add-to-cart-button{% if section.settings.enable_payment_button and current_variant.available and product.selling_plan_groups == empty %} shopify-payment-btn btn--secondary{% endif %}"
    data-cart-submit
    type="submit" name="add"
    {% unless current_variant.available %} disabled="true"{% endunless %}
    aria-label="{{ button_text }}"
  >
    <span class="primary-text" aria-hidden="false" data-cart-primary-submit-text>
      {{ button_text }}
    </span>
    <span class="secondary-text" aria-hidden=true data-cart-secondary-submit-text>{{ 'products.product.view_cart' | t }}</span>
  </button> {% endcomment %}
  <div class="btn btn__request_form" onclick="alert('request form')" data-toggle="modal" data-target="#exampleModal">
    LEAVE REQUEST FORM
  </div>
  <p class="product__notification text-small text-center" data-cart-notification></p>
  {% if section.settings.enable_payment_button and current_variant.available %}
    {{ form | payment_button }}
  {% endif %}

  {{ form | payment_terms }}
{% endform %}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css" integrity="sha512-888I2nScRzrb/WNZ3qsa5kiZNmaEsvz8HEVQZRGokIEOj/sMnUlLClqP7itKJYDhXWsmp+1usxoCidSEfW2rWw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js" integrity="sha512-/HL24m2nmyI2+ccX+dSHphAHqLw60Oj5sK8jf59VWtFWZi9vx7jzoxbZmcBeeTeCUc7z1mTs3LfyXGuBU32t+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal-bs3patch.min.css" integrity="sha512-pZqJY6O1CmsoNXFQzpxc+DqTjVjZksnizgykkLSjj2FeM/KzZyVpy4E1FtX90FoU2Ka8X/nlo/7ebheSThd4Qg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js" integrity="sha512-0wCoO9w07Mu4MnC918HEsFyXhVJVoxeq+RD4XXYukmLswUHMCRbBomZE+NjxBtv88QTU/fImTY+PclhlMpJ4JA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        {% include 'contact-form' %}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% comment %}
------------------------------------------------------------------------------
Product Data
------------------------------------------------------------------------------
{% endcomment %}